.navLayout {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: rgba(230, 230, 230, 0.29);
}
.logo {
  font-size: 30px;
  font-weight: bold;
}

.navInput {
  width: 325px;
  border-radius: 10px;
  height: 30px;
  border: none;
  padding: 10px;
  font-size: 20px;
  background-color: rgba(225, 222, 222, 0.6);
}
.inputWrapper {
  position: relative;
}
.searchIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}
.navBtn {
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(89, 134, 212);
  color: white;
  cursor: pointer;
}
