/* 0d6efd */
.parent {
  height: 100vh;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.488);
}



@media (max-width: 1150px) {
  .container {
    width: fit-content;
  }
}

.loginText {
  color: #0d6efd;
  font-size: 20px;
  position: relative;
  background-image: url("../assets/20943394.jpg");
  background-size: cover;
  overflow: hidden;
  border-radius: 25px;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
}
@media (max-width: 1100px) {
  .loginText {
    display: none;
  }
  .form {
    width: 100%;
  }
}
.loginTexL::before {
  content: "";
}
.loginTexL::after {
  content: "";
}

.form {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 30px;
}
.signupbtn{
  color: blue;
  text-align: center;
}
.signupbtn a {
  display: block;
  text-decoration: none;
  margin-top: 5px;
}
.signupbtn a:hover{
  color: green;
}


.form label {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: sans-serif;
}
.loginInput {
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f1f1f1;
}
.icon {
  margin: 20px 0 40px 0;
  margin-left: 50%;
  transform: translateX(-50%);
}
.btnLogin {
  border: none;
  transition: 0.1s;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}
.btnLogin:hover {
  background-color: #0d6efd;
  color: white;
}
