.sideBar {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  align-items: center;
  height: 100vh;
  width: 20%;
  min-width: 240px;
  position: relative;
  background-color: white;
  position: relative;
}
.sideBar::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 100px;
}
@media (max-width: 900px) {
  .sideBar {
    width: 25%;
  }
}
.idContent {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin: 20px;
  width: fit-content;
  background: rgba(230, 230, 230, 0.9);
  border-radius: 200px;
}
.idContent p {
  padding: 0px 15px;
}
.idContent img {
  width: 50px;
}
.idContainer {
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.sideBarList {
  display: flex;
  width: 100%;
  flex-direction: column;
  list-style: none;
  align-items: center;
  margin-top: 60px;
}
.sideBarList li {
  display: flex;
  width: 85%;
  padding: 10px 20px;
  transition: 0.2s;
  margin-bottom: 5px;
  border-radius: 10px;
}
.sideBarList li span {
  margin-left: 10px;
}

.btnMain {
  margin-top: 40px;
  padding: 10px 15px;
  width: 90%;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: black;
  box-shadow: 0px 0px 4px white;
  position: absolute;
  bottom: 30px;
  background: #e1e1e1;
  transition: 0.3s;
}
.sideBarList li span {
  color: black;
}
.home {
  color: rgb(49, 78, 129);
}
.home:hover {
  color: rgb(49, 78, 129);
  border-left: 3px solid rgb(72, 109, 173);
  background-color: rgba(0, 0, 255, 0.2);
}

.about:hover {
  border-left: 3px solid black;
  background-color: rgba(0, 0, 0, 0.2);
}
.contact {
  color: green;
}
.contact:hover {
  color: green;
  border-left: 3px solid green;
  background-color: rgba(0, 128, 0, 0.2);
}

.btnMain:hover {
  background-color: red;
  color: white;
}
