.task {
  width: 100%;
  padding: 20px 40px 20px 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  border-top: 2px solid rgb(44, 44, 132);
  position: relative;
  background-color: white;
  border-radius: 10px;
}
.task h3 {
  margin-bottom: 10px;
}
.task p {
  line-height: 1.6;
  word-break: break-word;
}
.btnTask {
  color: blue;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
}
.deleteBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: #dc3545;
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50);
  right: 10px;
}

.deleteBtn:hover {
  color: #a71d2a;
}
