.aboutContainer {
  max-width: 800px;
  padding: 30px;
  position: relative;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center {
  height: 100vh;
}
.aboutContainer h1 {
  text-align: center;
  color: #377df5;
  margin-bottom: 20px;
}

.aboutContainer p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.features, .goal, .tech {
  margin-top: 25px;
}

.features ul {
  list-style-type: disc;
  margin-left: 20px;
}

.features li {
  margin-bottom: 10px;
}

.features h2, .goal h2, .tech h2 {
  color: #2564ec;
  margin-bottom: 10px;
}
